body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
.start img{
    float:left;
    width:100px;
    height:100px;
}
.start h1{
    text-align: center;
    font-size: larger;
    color: rgb(153, 50, 204);
    text-transform: uppercase;
}
.middle h1
{
    text-align: center;
    color: darkviolet;
}
.middle h2
{
    text-align: center;
    color: darkviolet;
}
.middle h3
{
    text-align: center;
    color: darkviolet;
}
.middle img{
    padding-left: 45%;
    width:200px;
    height:100px;
}
.l h1{
    text-align: center;
    color: rgb(255, 0, 170);
}
.l1 h2{
    text-align: center;
    color: rgb(97, 4, 97);
}
.l2 img{
    float:left;
    padding-left: 30px;
    width:600px;
    height:400px;
}
.l2 h3{
    float:right;
    padding-top: 30px;
    padding-right: 30px;
    color: rgb(245, 22, 89);
}
.start ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
    overflow: hidden;
  }
  
.start li {
    float: left;
    text-transform: uppercase;
  }
.start li a:hover{
        color: rgb(46, 11, 245);
        text-decoration-line: underline;
  }
  .start li a, .dropbtn {
    display: inline-block;
    color: rgb(245, 21, 21);
    text-align: center;
    font-size: 20px;
    padding: 6px 6px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .start li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(5, 253, 212);
  }
  
 .start li.dropdown {
    display: inline-block;
  }
  
  .start .dropdown-content {
    display: none;
    position: absolute;
    background-color: #08dcf8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(17, 11, 11, 0.2);
    z-index: 1;
  }
  
  .start .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size:20px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
  }
  
 .start .dropdown-content a:hover {background-color: #b1be82;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}